a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var{
  background: transparent;
  border: 0 none;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
body {
  font-family: Microsoft YaHei,Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial, sans-serif;
}
div,p{
  font-size: initial;
}
.clearFix:after,.clearFix:before{
  content: '';
  display: block;
  clear: both;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table, table td {
  padding:0;
  border:none;
  border-collapse:collapse;
}
embed {
  vertical-align:top;
}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/*公共样式修改*/
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.new-container .mint-loadmore{
  background-color: rgb(238, 238, 238);
}
/*x详情页样式*/
.detail-text{
  font-size: 0.36rem;
  line-height: 0.55rem;
  word-wrap: break-word;
}
.detail-text > p {
  font-size: 0.36rem;
  word-wrap: break-word;
  margin-bottom: 0.4rem;
}
.detail-text > p:last-child {
  margin-bottom: 0.24rem;
}
.detail-text img {
  width: 100%;
  display: block;
  /*height: 4.45rem;*/
  margin-bottom: 0.24rem;
}
.detail-text>p>img {
  width: 100%;
  display: block;
}
/*分割线*/
.cut-off-rule{
  width: 100%;
  height: 0.23rem;
  background-color: #eee;
}

